@charset "UTF-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4

   Great Lakescape Lodge Style Sheet
   Author: Amy Richardson
   Date:   9/25/17

   Filename: lake_styles.css

*/

@font-face {
  font-family: champagne;
  src:url(cac_champagne.ttf) format('truetype'),
      url(cac_champagne.woff) format('woff');
}

@font-face {
  font-family: dobkin;
  src:url(DobkinPlain.ttf) format('truetype'),
      url(DobkinPlain.woff) format('woff');
}
/*linking to web fonts to be used later */


/*Application of Web fonts*/


/*Setting background colors and text colors */
body{
  background-color: rgb(159, 195, 200);
}

section#rightcol {
  background-color: rgb(242, 170, 117);
  padding-left: 10px;
  margin: 0px;
}

section#rightcol > nav > h2 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.3em;
  color: rgb(84, 105, 108);
  font-variant: small-caps;
  font-style: oblique;
}

section#rightcol > nav a {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

section#rightcol > nav ul a:link, nav ul a:visited {
  text-decoration: none;
  color: hsla(0, 100%, 100%, 0.5);
}

section#rightcol > nav ul a:hover, nav ul a:active{
  color: rgb(84, 105, 108);
}

section#leftcol > h1 {
  font-family: champagne, cursive;
  font-size: 3.5em;
  color: hsla(0, 0%, 25%, 0.7);
  margin:0px;
  text-align: center;
}

#leftcol > aside {
  background-color: hsla(0, 0%, 50%, 0.5);
  padding: 20px;
  color: hsla(0, 0%, 0%, 0.8);
}

  header > nav a {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-variant: small-caps;
  }

  header > nav ul a:link, nav ul a:visited {
    background-color: hsla(0, 0%, 50%, 0.5);
    color: hsla(0, 100%, 100%, 0.5);
    text-decoration: none;
  }

  header > nav ul a:hover, nav ul a:active {
    background-color: hsla(0, 0%, 100%, 0.7);
    color: hsla(0, 0%, 25%, 0.7);
/*top navigation styles. using semi-transparent colors, hovering, new font, no text decoration*/
  }
}

/*Use of pseudo-elements and pseudo-classes*/


/*Modifying padding space and margin space around an element*/


/*Style rule to generate content in the rendered page*/
